@import '../../commons/assets/scss/variables/colors';
@import '../../commons/assets/scss/variables/sizing';

.form__label {
  margin-bottom: -$xs-spacing;
  font-size: $min-spacing;
  font-weight: 100;
  pointer-events: none;
}