.flex-wrapper__container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  padding: 2em;
  > * {
    margin: 0 24px;
    flex-grow: 1;
  }
}

@media screen and (max-width: 765px) {
  .flex-wrapper__container {
    flex-direction: column;
    padding: .5em;
    > * {
      margin: 0 12px;
    }
  }
}
