@import './../variables/colors';
@import './../variables/sizing';

%form-field {
  padding : $xs-spacing;
  margin:  $xs-spacing 0 $large-spacing 0;
  border: 1px solid $borderLight;
  outline:none;
  font-size: 100%;
  font-weight: 300;
  background-color: #fff;
  border-radius: 0;
  &:focus {
    border: 1px solid $borders;
  }
}

.form__input {
 @extend %form-field;
}